/*---------------------FUNCTIONS-----------------------*/

.width-calc(@difference){
  width: -webkit-calc(~"100% - "@difference);
  width: -moz-calc(~"100% - "@difference);
  width: calc(~"100% - "@difference);
}

.height-calc(@difference){
  height: -webkit-calc(~"100% - "@difference);
  height: -moz-calc(~"100% - "@difference);
  height: calc(~"100% - "@difference);
}

.boxShadow(@difference,@difference2,@difference3,@difference4,@color){
  -webkit-box-shadow: @difference @difference2 @difference3 @difference4 @color;
  -moz-box-shadow: @difference @difference2 @difference3 @difference4 @color;
  box-shadow: @difference @difference2 @difference3 @difference4 @color;
}

.radius(@value){
  -webkit-border-radius: @value;
  -moz-border-radius: @value;
  border-radius: @value;
}

.box_scale(@value1, @value2) {
  -webkit-transform: scale(@value1, @value2);
  -ms-transform: scale(@value1, @value2);
  transform: scale(@value1, @value2);
}

.appearance(@value){
  -webkit-appearance: @value;
  -moz-appearance:    @value;
  appearance:         @value;
}

/*---------------------GENERAL-----------------------*/

html, body{
  width: 100%;
  height: 100%;
  background: whitesmoke;
  margin: 0em;
  font-family: monospace;
  font-size: xx-large;
}

.weather-day {
  .width-calc(2em);
  height: 210px;
  margin: 1em;
  background: white;
  padding-top: 0.5em;
  .boxShadow(0,1px,2px,0, rgba(0,0,0,0.22));

  .weather-day-display{
    text-align: center;
    margin: 0.5em;
  }

  .weather-day-overflow {
    overflow: auto;
    height: 153px;
    border-top: solid whitesmoke;

    .weather-day-overflow-content{
      display: inline-flex;
      margin: 0.5em;

      .weather-day-hour {
        width: 8em;
        height: inherit;
        float: left;
        text-align: center;
        padding: 0.2em;
        border: solid 1px;
        
        label {
          display: block;
        }
      }
    }
  }
}

.highlight {
  color: red;
  font-style: oblique;
}

.row {
  margin: 1em;
  line-height: 2em;
  background: white;
  padding: 0.5em;
  .boxShadow(0,1px,2px,0, rgba(0,0,0,0.22));
}

/*---------------AUTOCOMPLETE--------------------*/

.sAutocomplete{
  height: inherit;
  line-height: 2em;

  input {
    .height-calc(6px);
    width: 70%;
    font-size: 1em;
    border: solid 1px grey;
  }

  select {
    .appearance(menulist-button);
    background: white;
    width: 25%;
    font-size: 1em;
  }

  .op {
    font-size: 30px;
  }
}

.forecastTitle {
  display: block;
  text-align: center;
}

/*---------------------END-----------------------*/

/* ----------- iPhone 5 and 5S ----------- */


/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

  html, body{
    font-size: 2em;
  }

  .row {
    label{
      display: block;
    }
  }

  .radio {

    input[type=radio] {
      .box_scale(3,3);
      margin: -1.75em 2.25em 0.25em 0px;
    }
  }

  .weather-day {
    height: 6em;

    .weather-day-overflow {
      height: 4em;

    }
  }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  html, body{
    font-size: 1.5em;
  }

  .radio {
    input[type=radio] {
      .box_scale(2,2);
      margin: -1.75em 2.25em 0.25em 17px;
    }
  }
}