<div class="weather-day" ng-controller="weatherController">
    <div class="weather-day-display">{{item.day | date:'longDate'}}</div>
    <div class="weather-day-overflow">
        <div class="weather-day-overflow-content">
            <div class="weather-day-hour" ng-repeat="weather in item.hourly">
                <label> At: {{weather.time | date:'shortTime'}}</label>
                <label> Temp: {{setValueWithSettings(weather.temp.val, weather.temp.measure , model.tempMeasure )}}</label>
            </div>
        </div>
    </div>
</div>
