<div class="row">
    <label>Select Location : </label>
    <div class="sAutocomplete" ng-model="model.city" ng-controller="cityController"></div>
    <!--<div ng-if="_loadingForecast">Loading forecast ... </div>-->
    <!--<div ng-if="_locating">Locationg your position ... </div>-->
    <div class="sLoading"></div>
</div>
<div class="row" ng-if="_selected">
    <label >Location Selected : </label>
    <label class="highlight" ng-bind="_selected"></label>
</div>
<div class="row" ng-if="_localtime">
    <label>Date and Time in Destination: </label>
    <label class="highlight" ng-bind="_localtime"></label>
</div>
<div class="row radio" ng-if="_selected">
    <label> Temperature in : </label>
    <label><input type="radio" ng-model="model.tempMeasure" value="C"> Celcius</label>
    <label><input type="radio" ng-model="model.tempMeasure" value="F"> Farenheit </label>
</div>
<label class="forecastTitle" ng-if="_selected"> Forecast </label>
<div ng-if="_selected" class="sList" ng-model="model.forecast"></div>